@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(http://maxcdn.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css);

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


/* Главная страница
=======================================*/

.index {
	background: #22a7f0;
	color: #fff;;
}

.index .logo {
	width: 429px;
	height: 73px;
	background: url(../img/logo-full.png) center center;
}

.index .wrapper {
	width: 430px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -215px;
	margin-top: -100px;
}

.index .menu {
	padding-top: 30px;
	text-align: center;
}




/* Меню в игре
=======================================*/

.main {
	margin-top: 15px;
	text-align: center;
}

.main .label {
	font-size: 30px !important;
	margin-left: 20px;
	vertical-align: super
}

.main .logo-small {
	background: url(../img/logo-small.png) center center;
	width: 65px;
	height: 62px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: sub;
}




/* Игровое поле
=======================================*/

.game {
	width: 100%;
	height: 100%;
	position: absolute;
}

.game #lunks {
	text-align: center;
	width: 900px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -450px;
	margin-top: -100px;
}

.game .col-xs-4 {
	margin-bottom: 70px;
}

.game .lunka {
	width: 171px;
	height: 63px;
	display: inline-block;
	background: url(../img/lunka.png) center center;
}

.game .lunka:after {
	content: "";
	width: 171px;
	height: 133px;
	background: url(../img/lunka-over.png) center top;
	position: absolute;
	top: 0;
	/* margin-left: -140px; */
	margin-left: -85px;
}

.game .rabbit {
	width: 128px;
	height: 128px;
	display: block;
	position: relative;
	margin-left: 25px;
	
	top: 48px;
	height: 70px;
	
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.game .rabbit-1 {
	background: url(../img/rabbits/rabbit-cute.png) center top;
}

.game .rabbit-2 {
	background: url(../img/rabbits/rabbit-crazy.png) center top;
}

.game .rabbit-3 {
	background: url(../img/rabbits/rabbit-green.png) center top;
}

.game .rabbit-4 {
	background: url(../img/rabbits/rabbit-emo.png) center top;
}

.game .rabbit-dead {
	background: url(../img/rabbits/rabbit-dead.png) center top !important;
}

.game .rabbit-show {
	top: -64px;
	height: 124px;
}



/* Магазин
=======================================*/

#shop {
	display: none;
}

.shop {
	margin-top: 40px;
	width: 100%;
	height: 110px;
	background: #158cba;
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: #127ba3;
	border-width: 0 1px 8px 1px;
}

#shop-slider {
	height: 102px;
}

.shop .carousel-control {
	background: none !important;
	padding-top: 30px;
}

.shop .carousel-control.left {
	left: -55px;
}

.shop .carousel-control.right {
	right: -55px;
}

.buy-gun {
	background: rgba(0,0,0,0.2);
	height: 102px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
}

.buy-gun .img {
	display: block;
	text-align: center;
	height: 50px;
	
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.buy-gun:hover .img {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
}

.buy-gun:hover .img img {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-ms-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}


/* Темы
=======================================*/

.theme-0 { /* desert */
	background: #F5AB35;
}


/* Оружие
=======================================*/

.gun-0 {
	cursor: url(../img/guns/0-carrot.png), auto;
}

.gun-0:active {
	cursor: url(../img/guns/0-carrot-click.png), auto;
}

.gun-1 {
	cursor: url(../img/guns/1-axe.png), auto;
}

.gun-1:active {
<<<<<<< HEAD
	cursor: url(../img/guns/1-axe-click.png), auto;
=======
	cursor: url(../img/guns/1-axe.png), auto;
>>>>>>> FETCH_HEAD
}